 <footer class="footer text-center">
   <div class="container px-4 px-lg-5">
      @if(false){
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
          </li>
        </ul>
      }
     <h5 class="text-muted"><span style="color: var(--bs-yellow)">developed by npd21-tech</span> &copy; Portfolio 2024</h5>
   </div>
</footer>
